<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] [%-5p] -> %m (%c)%n"/>
    </layout>
  </appender>
  <appender name="FileRolling" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="${UA.LOG.DIR}/${UA.LOG.NAME}.log" />
    <!--<param name="DatePattern" value="'${UA.LOG.DIR}/${UA.LOG.NAME}.'yyyy-MM-dd'.log'" />   -->
    <param name="DatePattern" value="'.'yyyy-MM-dd" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] [%-5p] -> %m (%c)%n"/>
    </layout>
  </appender>
  <appender name="FileRollingByDay" class="org.apache.log4j.RollingFileAppender">
    <!-- <param name="threshold" value="error" /> -->
    <param name="File" value="${UA.LOG.DIR}/${UA.LOG.NAME}.log" />
    <param name="maxFileSize" value="500MB" />
    <param name="maxBackupIndex" value="200" />
    <param name="append" value="true" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] [%-5p] -> %m (%c)%n"/>
    </layout>
  </appender>
  <logger name="com.tydic.beijing.billing.ua">
    <level value="DEBUG" />
  </logger>
  <logger name="com.alibaba.dubbo">
    <level value="ERROR" />
  </logger>
  <root>
    <priority value="DEBUG" />
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FileRollingByDay" />
  </root>
</log4j:configuration>
